@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Quicksand:wght@300..700&display=swap');
@import './base.css';
@import 'tailwindcss';

html {
  background-color: var(--surface-color-secondary);
}

@media screen and (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 75%;
  }
}

/* @media screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 65%;
  }
} */
